<div class="invi-wrapper complete-wrapper">
  <div class="invi-container complete-container">
    <div class="invi-top">
      <h1>WEDDING INVITATION</h1>
    </div>
    <div class="complete">
      <h1>ご回答ありがとうございます！</h1>
      <%= link_to "戻る", root_path ,class:"back-btn"%>
    </div>
  </div>
</div>