.main-wrapper {
  background-color: #e0d7ca;
  // background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding-top: 35px;

}
.main-img {
  color: aliceblue;
  height: 500px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: image-url("main-img.jpg");
  margin: 0 35px;
}
.weed-invi {
  position: absolute;
    top: 250px;
    background-color: #f5be4899;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Slab', serif;
    font-size: 2.3rem;
}

.gr-img,
.br-img {
  width: 20%;
}
.gr-name,
.br-name {
  z-index: 10;
  width: 8%;
  font-family: 'WindSong', cursive;
  font-size: 1.8rem;
}
.gr-img img,
.br-img img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.invi-name {
}
.groom {
  display: flex;
  align-items: center;
  justify-content: left;
}
.bride {
  display: flex;
  align-items: center;
  justify-content: right;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-container {
  font-family: 'Noto Serif JP', serif;
  padding-top: 35px;
  padding-bottom: 500px;
}
.invi-btn {
  background-color: #6496ab;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  bottom: 109px;
  right: 32px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.invi-text {
  color: #fff;
  line-height: initial;
}
.login-btn {
  margin-top: 40px;
}
.greeting-text {
  line-height: 2;
  width: 50%;
  margin: 0 auto;
  padding-left: 65px;
  color: rgb(54, 51, 51);
  padding-top: 10px;
}
.greeting-img {
  background: linear-gradient(rgba(224, 221, 221, 0.6), rgba(224, 221, 221, 0.6)),
             url("greeting-img3.jpg");
  position: relative;
}
.fixed-bg {
  height: 260px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

// rgba(0, 0, 0, 0.6))