.reception-wrapper {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding-top: 130px;
}
.title-img {
  display: flex;
  justify-content: center;
  height: 400px;
}
.title {
  font-size: 1.8rem;
  padding: 20px;
  z-index: 5;
  background-image: url("recep-title.jpg");
  background-position: center;
  background-size: cover;
  width: 40%;
  border-top-left-radius: 40px;
  color: #fff;
}
.reception-date {
  text-align: start;
  font-size: 3.3rem;
  line-height: initial;
  width: 27%;
  padding-left: 5px;
  background-color: #ddc8c1;
  border-top-right-radius: 40px;
}
.reception-container {
  color: rgb(58, 54, 54);
  font-family: 'Petit Formal Script', cursive;
}
.message {
  text-align: start;
  line-height: 2;
  color: rgb(99, 96, 96);
  background-image: linear-gradient(rgba(224, 221, 221, 0.6), rgba(224, 221, 221, 0.6)), url("message.jpg");
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
.message p {
  font-family: 'Noto Serif JP', serif;
  color: #363333;
  padding: 0 200px 130px 250px;
  width: 60%;
}

.message h2 {
  padding-bottom: 20px;
  font-size: 22px;
  color: rgb(58, 54, 54);
  text-align: center;
}
.contents {
  font-size: 22px;
  text-align: center;
}

.link {
  color: rgb(58, 54, 54);
}

.list {
  padding: 40px 0;
  list-style: none;
}


