#header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #f8f5f1;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: 'Noto Serif JP', serif;
}
.site-title {
  font-family: 'Josefin Slab', serif;
  position: relative;
  display: inline-block;
  height: 64px;
  margin-left: 30px;
  padding: 25px 20px 15px 20px;
  color: #fff;
  background: #6496ab;
  line-height: initial;
  font-size: 1.2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.site-title::before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #6496ab transparent transparent;
}
.site-title::after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}


.lists-right {
  display: flex;
  align-items: center;
}
.header-link {
  display: flex;
}
.header-link li {
  list-style: none;
  padding: 0 10px;
}
.logout {
  padding-right: 10px;
}
#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  padding: 36px 15px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
#navi a {
  color: #fff;
}
#navi li {
  margin-bottom: 20px;
}
.open #navi {
  left: 0;
  opacity: 1;
}
.toggle-btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}
.toggle-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
.toggle-btn span:nth-child(1) {
  top: 10px;
}
.toggle-btn span:nth-child(2) {
  bottom: 10px;
}
.open .toggle-btn span {
  background-color: #fff;
}
.open .toggle-btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}
.open .toggle-btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}
#mask {
  display: none;
  transition: all 0.5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/* スマホ用 レスポンシブ対応 */
@media screen and (max-width: 511px) {
  #header {
    font-size: 0.9rem;
    padding: 0;
  }
  .header-title {
    justify-content: space-around;
  }
  .site-title {
    height: 50px;
    width: 25%;
    padding: 13px 0 0 10px;
    font-size: 0.9rem;
  }
  .site-title::before {
    left: -30px;
    border-width: 24px 30px 27px 0;
  }
  .toggle-btn span {
    width: 25px;
  }
}