.photo-wrapper {
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}
.post-btn {
  text-align: center;
  padding: 40px 0;
}
.photo-container {
  width: 100%;
  margin: 0 auto;
}
.items {
  flex-direction: column;
}