.photo-wrapper {
  font-family: 'Noto Serif JP', serif;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.photo-container {
  padding: 60px 130px 280px;
  color: #000;
}
.photo-title h1 {
  font-size: 1.2rem;
  position: relative;
  padding: 15px 0 15px 30px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-radius: 0 0 0 20px;
  width: 40%;
  margin-bottom: 25px;
  margin-left: 60px;
}
.photo-title h1::before {
  position: absolute;
  right: 50px;
  bottom: -21px;
  width: 0;
  height: 0;
  content: '';
  border-width: 21px 21px 0 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
.photo-title h1::after {
  position: absolute;
  right: 54px;
  bottom: -14px;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 14px 0 0;
  border-style: solid;
  border-color: #f5efe9 transparent transparent transparent;
}
.post-btn {
  text-align: center;
  padding: 20px 0 ;
  
}
.post-btn i {
  font-size: 35px;
}
.photo-items {
  padding: 30px 0px;
  
}
#photos {
  border: 2px solid #000;
  border-radius: 20px;
  overflow: hidden;
  width: auto;
}
.photo-items li,
.lists li {
  list-style: none;
}
.item-text,
.item-name,
.list-id,
.item-id,
.item-userid,
.delete-icon {
  display: none;
} 
#photo-img {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
#photo-img img {
  width: 100%;
}
.photo-main {
  display: none;
  width: 60%;
  margin: 0 auto;
}
#photo-name {
  padding: 20px 0 20px 20px;
  text-align: left;
  font-size: 1.2rem;
}
#photo-text {
  text-align: left;
  padding-left: 20px;
  font-size: 1rem;
}
.photo-icon {
  display: flex;
  justify-content: end;
}
#photo-delete i,
#photo-edit i {
  font-size: 0.9rem;
  padding-bottom: 8px;
}
#photo-delete span,
#photo-edit span {
  padding-left: 10px;
}
a {
  color: black;
}
.material-icons {
  color: #504c4c;
}

/* スマホ用 レスポンシブ対応 */
@media screen and (max-width: 511px) {
  .photo-container {
    padding: 60px 10px 440px;
  }
  .photo-title h1 {
    font-size: 1rem;
    padding: 15px 10px;
    width: 86%;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .photo-main {
    width: 100%;
  }
  #photo-name {
    padding: 20px 0 20px 10px;
    font-size: 1rem;
  }
  #photo-text {
    padding-left: 10px;
  }
  #photo-delete i {
    padding-left: 10px;
  }
}

