.post-area {
  text-align: center;
  padding: 180px 200px 240px 150px;
}
.new-img{
  width: 400px;
  object-fit: cover;
}
.img-textarea {
  width: 50%;
  height: 100px;
  margin: 20px 0;
}
.submit {
  border: none;
  background-color: #eee6de;
}
.image_input_btn {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding-top: 5px;
}
.click-upload i {
  font-size: 1.9rem;
}
input[type="file"] {
  display: none;
}

/* スマホ用 レスポンシブ対応 */
@media screen and (max-width: 511px) {
  .post-area {
    padding: 180px 30px 332px 30px;
  }
  .img-textarea {
    width: 90%;
  }
  .new-img {
    width: 330px;
  }
}
