<div class="reception-wrapper">
  <div class="reception-container">
    <h1>Wedding Reception</h1>
    <div class="reception-date">
      <p>Taro & Hanako</p>
      <p id="date">2026.06.06 Sat</p>
    </div>
    <div class="message">
      <h2>THANKS</h2>
      <p style="word-break: keep-all;">
      本日はご多用のところお越しくださり
      誠にありがとうございます
      この日を迎えることができますのも
      ひとえに皆様のお力添えのおかげと
      厚く御礼申し上げます
      未熟な二人ですが　手を取り合い
      ともに歩んでいきたいと思います
      今後とも末永いご指導とお付き合いのほど
      何卒よろしくお願いいたします
      本日はお食事を楽しみながら
      ゆっくりとお過ごしいただければ幸いです<br>
      太郎　花子</p>
    </div>

    ※２人の写真を横に並べる→スクロールできるように
    
    <div class="contents">
      <ul>
        <li class="list"><%= link_to "PROFILE",receptions_path, class:"link" %></br></li>
        <li class="list"><%= link_to "SEATING LIST",receptions_path, class:"link" %></br> </li>
        <li class="list"><%= link_to "MENU",receptions_path, class:"link" %></li>
        <li class="list"><%= link_to "PICTURE",receptions_path, class:"link" %></li>
      </ul>
    </div>
  </div>
</div>

