<div class="photo-wrapper">
  <div class="post-btn">
    <%= link_to "写真を投稿", new_photo_path %>
  </div>
  <div class="photo-container">
    <div class="owl-carousel">
      <% @photos.each do |photo| %>
        <div class="items">
          <div class="photo-img">
            <%= image_tag photo.image.variant(resize: '300x300') %><br>
          </div>
          <div class="photo-text">
            <%= photo.text %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
