<div class="photo-wrapper">
※写真投稿機能ページ

<%= link_to "写真を投稿", new_photo_path %><br>

<% @photos.each do |photo| %>
  <%= image_tag photo.image.variant(resize: '500x500') %>
  <%= photo.text %><br>
<% end %>

</div>
